<h1>Events Index</h1>

{{#each events}}
<p>
  Event Name: {{name}}
  <br>
  Link: {{link}}
  <br>
  ID: {{_id}}
</p>
{{else}}
<p>There are no events to display.</p>
{{/each}}

<hr>

{{#each upcomingMeetups}}
<p> 
  {{#group}}
    Hosted By: {{name}}
  {{/group}}
</p>
<p>
  <a href="/events/{{#group}}{{urlname}}{{/group}}/{{id}}">View</a>
  <button type="button">Attend</button>
  <button type="button">Suggest</button>
</p>
<hr>
{{else}}
<p>No upcoming events to show.</p>
{{/each}}