<h1>Events Index</h1>

{{#each events}}
<p>
  Event Name: {{name}}
  <br>
  Link: {{link}}
  <br>
  ID: {{_id}}
  <br>
  Suggested: {{suggested.is_suggested}}
</p>
{{else}}
<p>There are no events to display.</p>
{{/each}}