<h1>Suggested Events</h1>
<p>Show list of suggested events with buttons to confirm them as recommended events.</p>
<hr>

{{#each events}}
<h4>{{name}}</h4>
<p>{{local_time}}, {{local_date}}</p>
<p><a href="{{link}}">View on Meetup</a></p>
<p>Suggested By: {{suggested.suggested_by}} (user id)</p>
<p>Message: {{suggested.message}}</p>
<p>
  <form
    style="display: inline-block;" 
    action="/events/recommend/{{_id}}?_method=PUT" 
    method="post"
  >
    <button type="submit">Recommend</button>
  </form>
  <form 
    style="display: inline-block;"
    action="/events/{{_id}}?_method=DELETE" 
    method="post"
  >
    <button type="submit">Remove</button>
  </form>
</p>
<hr>
{{else}}
<p>There currently aren't any suggested events to show.</p>
{{/each}}