<h1> Account requests</h1>
<p> This page will contain placeholder conditional rendering; it will display 
    'account pending' for users, and a list of accounts to approve for admins. This will be
    done in react afterwards, just testing for now</p>
    <p>Is user an admin? {{user.admin}}</p>
{{!-- {{if user.admin }} --}}
{{#if user.admin}}
    {{#each unconfirmedAccounts}}
    <h4>{{this.name}}</h4>
    <form
        style="display: inline-block;" 
        action="/users/{{user._id}}?_method=PUT" 
        method="post"
    >
        <button type="submit">Confirm user</button>
    </form>
    <form 
        style="display: inline-block;"
        action="/events/{{_id}}?_method=DELETE" 
        method="post"
    >
        <button type="submit">Remove user</button>
    </form>
    </p>
    <hr> --}}
    {{/each}}

{{else}}
    <p>Is user</p>
{{/if}}