<h1>{{user.name}}'s Dashboard</h1>

<p>
  <img 
    src="https://secure.meetupstatic.com/photos/member/4/d/e/3/member_280939939.jpeg" 
    alt="profile picture for {{user.name}}"
  >
</p>

<hr>

{{#each upcomingMeetups}}
<p> 
  {{#group}}
    Hosted By: {{name}}
  {{/group}}
</p>
<p>
  <a href="/events/{{#group}}{{urlname}}{{/group}}/{{id}}">View</a>
  <button type="button">Attend</button>
  <button type="button">Suggest</button>
</p>
<hr>
{{else}}
<p>No upcoming events to show.</p>
{{/each}}